.pick a{
  color: #A67C52;
  font-weight: 900;
}

.plofile{
  width: 320px;
  display: flex;
  position: relative;
  top: 50px;
  left: 170px;
}
.plofile a{
  font-size: 33px;
  font-weight: 600;
}
/* 장바구니 리스트 목록 */
.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  justify-items: center;
  gap: 30px;
  width: 1350px;
  margin: 80px 110px;
  /* border: 1px solid rebeccapurple; */
}

.product-card {
  border: 2px solid #FFAF4D;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.img-box {
  width: 200px;
  height: 150px;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.desc {
  font-size: 14px;
  margin-bottom: 5px;
}

.review {
  font-size: 13px;
  color: #444;
  margin-bottom: 10px;
  text-align: center;
}

.review a{
  font-size: 22px;
  color: #FFD633;
}

.btn {
  background: #DDB67D;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.btn:hover {
  background: #A67C52;
}
/* 체크박스 */
.product-card .check {
  position: relative;
  top: 5px;
  left: -130px;
  transform: scale(1.3);
  cursor: pointer;
}
.product-card .check:checked {
  background-color: #FFAF4D;
  border-color: #FFAF4D;
}

/* 구매 박스 */
.cart-side {
  position: fixed;
  top: 470px;
  right: 20px;
  transform: translateY(-50%);
  width: 250px;
  background: linear-gradient(145deg, #fff8ee, #fff1d6); /* 부드러운 그라데이션 */
  border: 2px solid #FFA500;
  border-radius: 15px;
  padding: 25px 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2); /* 더 깊은 그림자 */
  z-index: 1000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.cart-side .summary {
  background: #fff3c6;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  margin: 15px 0;
  box-shadow: inset 0 2px 5px rgba(0,0,0,0.1);
}

.cart-side .summary p {
  margin: 8px 0;
  font-weight: 600;
  font-size: 16px;
  color: #333;
}

.cart-side .summary #count {
  color: #FF8C00;
}
.cart-side .summary #total {
  color: black;
  font-size: 18px;
}

.cart-side .delete-btn,
.cart-side .order-btn {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 12px;
  margin-top: 12px;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
}

.cart-side .delete-btn {
  background: #FF8C00;
  color: #fff;
}

.cart-side .delete-btn:hover {
  background: #FFC107;
  transform: scale(1.03);
}

/* 주문하기 버튼 */
.cart-side .order-btn {
  background: #DDB67D;
  color: white;
}

.cart-side .order-btn:hover {
  background: #A67C52;
  transform: scale(1.03);
}
/* 페이지 */
.pagination {
  text-align: center;
  margin: 30px 0;
  font-size: 14px;
}
.pagination a {
  margin: 0 10px;
  text-decoration: none;
  color: #000;
}